<div class="pricing_card_one">
  <div class="pricing_card_one_header">
    <p>Entry</p>
    <div class="pricing_card_one_header_text">
      <h1 class="pricing_card_one_header_title">
        $14<span class="pricing_card_one_header_sub_title">/month</span>
      </h1>
      <button class="pricing_card_one_header_btn">10% OFF</button>
    </div>
    <h3 class="pricing_card_one_header_description">Easy start on the cloud</h3>
  </div>
  <div class="pricing_card_one_features_list">
    <ul>
      <li><img src="./icons/tick.svg" alt="" /> Unlimited Websites</li>
      <li><img src="./icons/tick.svg" alt="" /> Unlimited Bandwidth</li>
      <li><img src="./icons/tick.svg" alt="" /> 100 GB SSD Sotrage</li>
      <li><img src="./icons/tick.svg" alt="" /> 3 GB RAM</li>
    </ul>
    <button class="pricing_card_btn_one">Buy Now</button>
  </div>
</div>
