<section id="control_panel">
  <h1 class="control_panel_title">User-friendly Control Panel</h1>
  <div class="control_panel_items">
    <div class="control_panel_items_container">
      <img
        class="control_panel_items_image"
        src="./assets/images/ipad.png"
        alt=""
      />
    </div>
    <div>
      <div class="control_panel_items_text_container">
        <i id="control_panel_items_icon" class="fa-regular fa-image"></i>
        <div>
          <h1>Easy Start & Managed Updates</h1>
          <p class="control_panel_items_description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
      <div class="control_panel_items_text_container">
        <i
          id="control_panel_items_icon"
          class="fa-solid fa-arrow-up-right-dots"
        ></i>
        <div>
          <h1>Staging, GIT & WP-CLI</h1>
          <p class="control_panel_items_description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
      <div class="control_panel_items_text_container">
        <i id="control_panel_items_icon" class="fa-brands fa-wordpress"></i>
        <div>
          <h1>Dynamic Caching & More</h1>
          <p class="control_panel_items_description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
