<section class="footer_service">
  <div>
    <img src="./assets/icons/logo.svg" alt="" />
    <ul class="footer_service_list">
      <li>Copyright 2024 Mosh</li>
    </ul>
  </div>
  <div>
    <h3 class="footer_service_title">Prodoucts</h3>
    <ul class="footer_service_list">
      <li>Website Hosting</li>
      <li>Website Hosting</li>
      <li>Free Automated Wordpress</li>
      <li>Migrations</li>
      <li>Domin Name</li>
      <li>Monthly Web Hosting</li>
    </ul>
  </div>
  <div>
    <h3 class="footer_service_title">Company</h3>
    <ul class="footer_service_list">
      <li>About</li>
      <li>Affiliates</li>
      <li>Blogs</li>
      <li>Careers</li>
      <li>Community</li>
      <li>News</li>
      <li>Green Hosting</li>
    </ul>
  </div>
  <div>
    <h3 class="footer_service_title">Support</h3>
    <ul class="footer_service_list">
      <li>Contact</li>
      <li>Knowledge Base</li>
      <li>Forums</li>
      <li>Systme Status</li>
      <li>Web Hosting</li>
      <li>News</li>
      <li>Drem Compute</li>
    </ul>
  </div>
  <div>
    <h3 class="footer_service_title">Domains</h3>
    <ul class="footer_service_list">
      <li>Domin Checker</li>
      <li>Domin Trasnfer</li>
      <li>Free Domin</li>
      <li>XYZ Domin</li>
      <li>Cheap SSL Certificate</li>
    </ul>
  </div>
</section>
