<section id="hosting_cloud_section">
  <div class="hosting_cloud_text">
    <h1>Host on the Cloud to Keep Growing</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </div>
  <div class="hosting_cloud_items">
    <div class="easy_item">
      <div class="easy_item_container">
        <img
          class="easy_item_container_icon"
          src="./assets/icons/easy.svg"
          alt=""
        />
      </div>
      <h1>Super Easy to Use</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <button class="easy_item_btn">LEARN MORE</button>
    </div>
    <div class="easy_item_image">
      <img src="./assets/images/easy.jpg" alt="" />
    </div>
    <div class="easy_item_image">
      <img src="./assets/images/fast.jpg" alt="" />
    </div>
    <div class="easy_item">
      <div class="easy_item_container">
        <img
          class="easy_item_container_icon"
          src="./assets/icons/computer.svg"
          alt=""
        />
      </div>
      <h1>Simply Fast Websites</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <button class="easy_item_btn">LEARN MORE</button>
    </div>
    <div class="easy_item">
      <div class="easy_item_container">
        <img
          class="easy_item_container_icon"
          src="./assets/icons/wordpress.svg"
          alt=""
        />
      </div>
      <h1>Wordpress Made Easy</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <button class="easy_item_btn">LEARN MORE</button>
    </div>
    <div class="easy_item_image">
      <img src="./assets/images/wordpress.jpg" alt="" />
    </div>
    <div class="easy_item_image">
      <img src="./assets/images/support.jpg" alt="" />
    </div>
    <div class="easy_item">
      <div class="easy_item_container">
        <img
          class="easy_item_container_icon"
          src="./assets/icons/clock.svg"
          alt=""
        />
      </div>
      <h1>24/7 Expert Support</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <button class="easy_item_btn">LEARN MORE</button>
    </div>
  </div>
</section>
