<section id="testimonial_section">
  <h1 class="testimonial_section_title">What our Customers are Saying</h1>
  <p class="testimonial_section_description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.
  </p>
  <div class="testimonial_section_container">
    <div class="testimonial_section_image_container">
      <img
        class="testimonial_section_container_image"
        src="./assets/images/testimonial.jpg"
        alt=""
      />
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
    </div>
    <div class="testimonial_section_container_text">
      <blockquote>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
          laboriosam natus at corrupti debitis dignissimos velit fugit atque
          pariatur dolorum magni ipsum molestiae obcaecati tenetur, voluptatem
          molestias distinctio illum.
        </h3>
        <div class="author_and_company">
          <div class="underLine"></div>
          <div>
            <h4 class="author_name">John Lumeo</h4>
            <p class="author_company">Mosh Company ceo</p>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>
